.button {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    font-family: inherit;
    @include font (500, 16px, 1.63, null);
   
    color: $primary-text-color;
    background-color: $button-color;
    border-color: $button-color;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: $white-color;
        background-color: $accent-color;
    }
}
