$primary-text-color: #212121;
$p-text-color: #757575;
$accent-color: #2196F3;
$contacts-footer-color: rgba(255, 255, 255, 0.6);
$main-backgroud-color: #FFFFFF;
$light-backgroud-color: #F5F5F5;
$dark-backgroud-color: #2F303A;
$white-color: #FFFFFF;
$black-color: #000000;
$button-color: #F5F4FA;

.logo {
    font-family: 'Raleway', sans-serif;
}
.logo-footer {
    font-family: 'Raleway', sans-serif;
}