.header {
    border: 1px solid #ECECEC;
}
.logo {
    margin-right: 275px;
    padding-top: 16px;
    padding-bottom: 16px;
    @include font (null, 26px, 1.19, null);
    color: $accent-color;
    text-decoration: none;
    @media screen and (min-width: 768px){
        margin-right: 88px;
        // padding-top: 16px;
        // padding-bottom: 16px;
    }

    @media screen and (min-width: 1200px){
        margin-right: 93px;
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.logo-header {
    color: black;
}
.main-nav {
@extend %list;
}
.site-nav-list {
// display: flex;
display: none;
    @media screen and (min-width: 768px) {
        display: flex;
    }

}
.site-nav-list .item:not(:last-child) {
margin-right: 50px;
}

.site-nav .site-page {
position: relative;
display: block;
padding-top: 32px;
padding-bottom: 32px;
color: $primary-text-color;
font-family: 'Roboto';
@include font (500, 14px, 1.14, 0.02);
text-decoration: none;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
    color: $accent-color;
    }
}
.site-nav .site-page.current {
color: $accent-color;
padding: 32px 0px;
    &::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    border-radius: 2px;
    }
}
.contact {
    // display: flex;
    margin-left: auto;
    display: none;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
    }
    @media screen and (min-width: 1200px) {
        flex-direction: row;
    }
}
.contact .item + .item {
    
    @media screen and (min-width: 1200px) {
        margin-left: 50px;
    }
}
.contact-item {
    @extend %list;
    
    color: $p-text-color;
    @include font (500, 14px, 1.14, 0.02);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @include tablet {
        margin-bottom: 10px;
    }
    @include desktop {
        padding-top: 32px;
        padding-bottom: 32px; 
    }
}
// .contact-item:not(:last-child) {
//     @media screen and (min-width: 768px) {
//         margin-bottom: 10px;
//     }
// }
.button-icon {
    margin-right: 10px;
    fill: $p-text-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover .button-icon,
.item:hover .contact-item {
    color: $accent-color;
    fill: $accent-color;
}

.contact-item:focus .button-icon,
.contact-item:focus {
    color: $accent-color;
    fill: $accent-color;
}

.button-item {
    padding-top: 32px;
    padding-bottom: 32px;
    fill: $p-text-color;
}
.menu-button {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    fill: $black-color;
    background-color: $white-color;
    border: none;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: $accent-color;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.mob-menu {
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background-color: $white-color;
    top: 0;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    > .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}
// .container {
// }
.menu-close {
    display: block;
    margin-left: auto;
    color: $black-color;
    background-color: $white-color;
    border: none;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        fill: $accent-color;
    }

}
// .icon-menu-close {
// }
.menu-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 306px;
    &__item:not(:last-child) {
        margin-bottom: 32px;
    }
    &__link {
        font-family: 'Roboto';
        color: $black-color;
        @include font (500, 40px, 1.18, 0.02);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus {
            color: $accent-color;
        }
    }
}

.mob-menu__tel {
    color: $accent-color;
    font-family: 'Roboto';
    @include font (500, 34px, 1.18, 0.02);
    margin-bottom: 32px;
}
.mob-menu__email {
    color: $p-text-color;
    font-family: 'Roboto';
    @include font (500, 24px, 1.17, 0.02);
    margin-bottom: 64px;
}
.mob-soc {
    display: flex;
    flex-direction: row;
    &__item:not(:last-child)::after {
        content: "";
        width: 22px;
        height: 0px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        transform: rotate(90deg);
        margin-left: 10px;
      }
    &__link {
        font-family: 'Roboto';
        @include font (500, 18px, 1.22, 0.02);
        color: $accent-color;
    }
}
// .mob-soc__item:not(:last-child) {
//     margin-right: 20px;
//     border-right: 1px solid rgba(33, 33, 33, 0.2);
// }

